// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-sprockets";

#course-header{
    color: blue;
}
td, th {
    padding: 0 10px;
}
.new-course{
    border-style: solid;
    background: grey;
    color: white !important;
    padding: 10px;
    border-width: 1px;
    border-color: black;
    border-radius: 7px;
    margin: 5px;
    font-weight: bold;
}